[submodule "QuickChick"]
	path = QuickChick
	url = git://github.com/QuickChick/QuickChick.git
[submodule "vellvm"]
	path = vellvm
	url = git://github.com/vellvm/vellvm.git
[submodule "metalib"]
	path = metalib
	url = git://github.com/plclub/metalib.git
[submodule "lngen"]
	path = lngen
	url = git://github.com/plclub/lngen.git
